/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-color: #fff1f7;
  --background-image: url(../images/cover-image-light.png);
  --title-decor-color: #353430;
  --section-title-color: #353430;
  --primary-color: #ff8dcb;
  --hero-title-color: #ffc2e6;
  --text-color: #353430;
  --border-accent-color: #353430;
  --hover-outline-color: rgba(50 49 45/ 0.4);
  --control-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --background-image: url(../images/cover-image-light.png);
    --title-decor-color: #353430;
    --section-title-color: #353430;
    --primary-color: #ff8dcb;
    --hero-title-color: #ffc2e6;
    --text-color: #353430;
    --border-accent-color: #353430;
    --hover-outline-color: rgba(50 49 45/ 0.4);
    --control-color: #353430;
  }
  .header__recording-label {
    display: none;
  }
}

.theme-light .header__recording-label {
  display: none;
}
